<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @appointment.pet.name %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @appointment.customer_name %>
</p>

<p>
  <strong>Appointment reminder:</strong>
  <%= @appointment.appointment_reminder %>
</p>

<p>
  <strong>Reason for visit:</strong>
  <%= @appointment.reason_for_visit %>
</p>

<p>
  <strong>Date of visit:</strong>
  <%= @appointment.date_of_visit %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
